header {
    &:has(.gr-search-bar.gr-opened) {
        .navbar-brand,
        .bd-navbar-toggle {
            display: none;
        }
    }
}

.gr-search-bar {
    position: relative;

    & > div:first-child {
        max-width: 580px;
    }

    form {
        &:has(.form-control:focus) {
            .btn {
                border-color: var(--bs-secondary-hover) !important;
                background-color: var(--bs-secondary-hover) !important;
                color: var(--bs-primary-hover);
            }
        }

        .form-control {
            height: 40px;
            border-width: 0;
        }

        @include media-breakpoint-down(md) {
            .btn {
                background-color: transparent !important;
                border: 0;
            }
        }
    }

    .gr-search-bar-explore-btn {
        &.gr-active {
            height: 50px !important;
            margin-bottom: -10px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-color: var(--gr-bg-darker);
            background-color: var(--gr-bg-darker);
        }
    }

    .form-control,
    .gr-search-bar-back-btn,
    .gr-search-bar-explore-btn {
        display: none;
    }

    & > div:first-child .btn {
        line-height: 36px;
        height: 40px;
        padding: 0 12px;
    }

    &.gr-opened {
        flex: 1;

        & > div {
            max-width: 100%;
        }

        .form-control,
        .gr-search-bar-back-btn,
        .gr-search-bar-explore-btn {
            display: block;
        }
    }

    // estilos para telas >= md
    @include media-breakpoint-up(md) {
        flex: 1;

        .gr-search-bar-back-btn {
            display: none;
        }

        .gr-search-bar-explore-btn,
        .form-control {
            display: block;
        }
    }
}

.gr-floating-menu {
    position: absolute;
    top: 49px;
    left: 0;
    right: 0;
    transition: top 0.3s, opacity 0.3s;
    opacity: 1;
    z-index: 1000;

    &.invisible {
        top: 40px;
        opacity: 0;

        & > div {
            display: none !important;
        }
    }

    .gr-drop-menu-container {
        & > div:first-child {
            width: 100%;
        }
    }

    .gr-drop-menu-title {
        display: block;
    }

    .gr-drop-menu-back-btn,
    .gr-drop-menu-sub-title {
        display: none;
    }

    // If has active sub-menu, hide categories
    &:has(.gr-sub-category.gr-active) {
        .gr-drop-menu-container {
            & > div:first-child {
                display: none !important;
            }
        }

        .gr-drop-menu-title {
            display: none;
        }

        .gr-drop-menu-back-btn,
        .gr-drop-menu-sub-title {
            display: block;
        }
    }

    .gr-drop-menu-container {
        // If has no active sub-menu, hide container
        & > div:last-child {
            &:not(:has(.gr-sub-category.gr-active)) {
                display: none !important;
            }
        }
    }

    .gr-sub-category {
        a {
            border: 2px solid var(--bs-secondary);
            color: var(--gr-text-body);
            text-decoration: none;
        }

        &:not(.gr-active) {
            display: none !important;
        }
    }

    @include media-breakpoint-up(md) {
        position: absolute;
        transition: left 0.3s, opacity 0.3s;
        left: 0;
        right: auto;

        &.invisible {
            left: -20px;
            opacity: 0;
        }

        .gr-drop-menu-container {
            & > div:first-child {
                width: 280px;
            }
        }

        // If has active sub-menu, hide categories
        &:has(.gr-sub-category.gr-active) {
            .gr-drop-menu-container {
                & > div:first-child {
                    display: block !important;

                    & > a:not(.gr-active) {
                        margin-right: 1rem;
                    }

                    & > a.gr-active {
                        border-width: 3px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        margin-right: -3px;
                    }
                }
            }
        }

        .gr-drop-menu-container {
            & > div:last-child {
                width: 220px;
            }
        }

        .gr-sub-category {
            position: relative;

            & > div:first-child {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 3px;
            }

            a {
                border: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                color: var(--gr-text-body);
                text-decoration: none;
            }

            &.frontend {
                & > div:first-child {
                    background-color: var(--gr-frontend-color-hover);
                    box-shadow: inset 0 0 10px var(--gr-frontend-color-hover),
                        0 0 10px var(--gr-frontend-color-hover);
                }

                a:hover {
                    color: var(--gr-frontend-color-hover);
                }
            }

            &.backend {
                & > div:first-child {
                    background-color: var(--gr-backend-color-hover);
                    box-shadow: 0 0 10px var(--gr-backend-color-hover);
                }

                a:hover {
                    color: var(--gr-backend-color);
                }
            }
        }
    }
}
