header {
    padding: 10px 32px 10px 12px;

    // logo sizing
    .navbar-brand h1 {
        font-size: 1.8rem !important;
    }

    .gr-header-start,
    .gr-header-end {
        min-width: 42px;
    }

    // hide logo and sidebar toggle when mobile search is open
    &:has(.gr-search-bar.gr-opened) {
        .navbar-brand,
        .gr-header-start,
        .gr-header-end {
            display: none;
        }
    }

    .gr-icon-btn {
        padding: 0 12px;
        font-size: 1.4rem;

        &.gr-user-btn {
            font-size: 2rem;
            width: 42px;
            padding: 2px;
        }
    }

    .gr-user-thumbnail {
    }

    @include media-breakpoint-up(xl) {
        .gr-header-start,
        .gr-header-end {
            min-width: auto;

            .gr-search-btn {
                display: none;
            }
        }
    }
}

.gr-search-bar {
    flex-grow: 0;
    position: relative;

    .gr-search-bar-container {
        max-width: 100%;
        display: none !important;
    }

    // Unify search input and buttton to appear like they are one.
    .input-group {
        .form-control {
            border-right-width: 0 !important;
        }
        .btn {
            border-left-width: 0 !important;
        }
    }

    // Give the search button the same focus border as the form-controls
    form {
        // Add blue border to search input on focus
        &:has(.form-control:focus) {
            .input-group .btn {
                border-color: var(--bs-primary-hover) !important;
                color: var(--bs-primary-hover);
            }
        }
    }

    .gr-search-close {
        width: 50px;
    }

    // On mobile, whe search is active fix flex and width
    &.gr-opened {
        flex-grow: 1;

        .gr-search-bar-container {
            display: flex !important;
        }
    }

    @include media-breakpoint-up(xl) {
        flex-grow: 1;

        .gr-search-bar-container {
            max-width: 580px;
            display: flex !important;
        }

        .gr-search-close {
            display: none !important;
        }

        .gr-search-bar-container {
        }
    }
}

.gr-explore-btn {
    &.gr-active {
        height: 52px !important;
        margin-bottom: -10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-color: var(--bs-lighter);
        background-color: var(--bs-black);
        border-bottom: 0;
        box-shadow: 6px 7px 10px -4px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 6px 7px 10px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 7px 10px -4px rgba(0, 0, 0, 0.75);

        .bi {
            display: inline-block;
            transform: rotate(90deg);
        }

        &:hover {
            color: #fff;
            background-color: var(--bs-black);
            border-color: var(--bs-dark);
        }
    }
}

.gr-drop-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 52px;
    transition: top 0.3s, opacity 0.3s;
    opacity: 1;
    z-index: 1000;
    max-height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    & > .drop-menu-scroll {
        max-height: 100%;
        min-height: 100%;
        flex: 1 1 100%;
    }

    &:not(.invisible) {
        border: 2px solid var(--bs-lighter);
        border-top: 0;
        box-shadow: 6px 7px 10px -4px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 6px 7px 10px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 7px 10px -4px rgba(0, 0, 0, 0.75);
    }

    &.invisible {
        opacity: 0;

        & > div {
            display: none !important;
        }
    }

    .gr-drop-menu-container {
        & > div:first-child {
            width: 100%;
        }
    }

    .gr-drop-menu-container {
        // If has no active sub-menu, hide container
        & > div:last-child {
            &:not(:has(.gr-sub-category.gr-active)) {
                display: none !important;
            }
        }
    }
    
    @include media-breakpoint-up(md) {
        position: absolute;
        transition: max-height 1s, opacity 0.3s;
        right: auto;
        left: 50px;

        &.invisible {
            max-height: 0;
        }

        .gr-drop-menu-container {
            & > div:first-child {
                width: 280px;
            }
        }

        .gr-drop-menu-container {
            & > div:last-child {
                width: 220px;
            }
        }
    }
    
    @include media-breakpoint-up(xl) {
        left: 0;
    }
}
