header {
    padding: 10px 32px 10px 12px;

    // logo sizing
    .navbar-brand h1 {
        font-size: 1.8rem !important;
    }

    .gr-header-start,
    .gr-header-end {
        min-width: 30%;
    }

    // hide logo and sidebar toggle when mobile search is open
    &:has(.gr-search-bar.gr-opened) {
        .navbar-brand,
        .gr-header-start,
        .gr-header-end {
            display: none;
        }
    }

    .gr-icon-btn {
        padding: 0 12px;
        font-size: 1.4rem;

        &.gr-user-btn {
            font-size: 2rem;
            width: 42px;
            padding: 2px;
        }
    }

    .gr-user-thumbnail {
    }

    @include media-breakpoint-up(xl) {
        .gr-header-start,
        .gr-header-end {
            min-width: auto;

            .gr-search-btn {
                display: none;
            }
        }
    }
}

.gr-search-bar {
    flex-grow: 0;
    position: relative;

    .gr-search-bar-container {
        max-width: 100%;
        display: none !important;
    }

    // Unify search input and buttton to appear like they are one.
    .input-group {
        .form-control {
            border-right-width: 0 !important;
        }
        .btn {
            background-color: var(--gr-bg-darker) !important;
            border: 2px solid var(--bs-border-light-color) !important;
            border-left-width: 0 !important;
        }
    }

    // Give the search button the same focus border as the form-controls
    form {
        // Add blue border to search input on focus
        &:has(.form-control:focus) {
            .input-group .btn {
                border-color: var(--bs-primary-hover) !important;
                color: var(--bs-primary-hover);
            }
        }
    }

    // On mobile, whe search is active fix flex and width
    &.gr-opened {
        flex-grow: 1;

        .gr-search-bar-container {
            display: flex !important;
        }
    }

    @include media-breakpoint-up(xl) {
        flex-grow: 1;

        .gr-search-bar-container {
            max-width: 580px;
            display: flex !important;
        }

        .gr-search-close {
            display: none !important;
        }

        .gr-search-bar-container {
        }
    }
}

.gr-explore-btn {
    &.gr-active {
        height: 50px !important;
        margin-bottom: -10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-color: var(--gr-bg-darker);
        background-color: var(--gr-bg-darker);
    }
}

.gr-floating-menu {
    position: absolute;
    top: 49px;
    left: 0;
    right: 0;
    transition: top 0.3s, opacity 0.3s;
    opacity: 1;
    z-index: 1000;

    &.invisible {
        top: 40px;
        opacity: 0;

        & > div {
            display: none !important;
        }
    }

    .gr-drop-menu-container {
        & > div:first-child {
            width: 100%;
        }
    }

    .gr-drop-menu-title {
        display: block;
    }

    .gr-drop-menu-back-btn,
    .gr-drop-menu-sub-title {
        display: none;
    }

    // If has active sub-menu, hide categories
    &:has(.gr-sub-category.gr-active) {
        .gr-drop-menu-container {
            & > div:first-child {
                display: none !important;
            }
        }

        .gr-drop-menu-title {
            display: none;
        }

        .gr-drop-menu-back-btn,
        .gr-drop-menu-sub-title {
            display: block;
        }
    }

    .gr-drop-menu-container {
        // If has no active sub-menu, hide container
        & > div:last-child {
            &:not(:has(.gr-sub-category.gr-active)) {
                display: none !important;
            }
        }
    }

    .gr-sub-category {
        a {
            border: 2px solid var(--bs-secondary);
            color: var(--gr-text-body);
            text-decoration: none;
        }

        &:not(.gr-active) {
            display: none !important;
        }
    }

    @include media-breakpoint-up(md) {
        position: absolute;
        transition: left 0.3s, opacity 0.3s;
        left: 0;
        right: auto;

        &.invisible {
            left: -20px;
            opacity: 0;
        }

        .gr-drop-menu-container {
            & > div:first-child {
                width: 280px;
            }
        }

        // If has active sub-menu, hide categories
        &:has(.gr-sub-category.gr-active) {
            .gr-drop-menu-container {
                & > div:first-child {
                    display: block !important;

                    & > a:not(.gr-active) {
                        margin-right: 1rem;
                    }

                    & > a.gr-active {
                        border-width: 3px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        margin-right: -3px;
                    }
                }
            }
        }

        .gr-drop-menu-container {
            & > div:last-child {
                width: 220px;
            }
        }

        .gr-sub-category {
            position: relative;

            & > div:first-child {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 3px;
            }

            a {
                border: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                color: var(--gr-text-body);
                text-decoration: none;
            }

            &.frontend {
                & > div:first-child {
                    background-color: var(--gr-frontend-color-hover);
                    box-shadow: inset 0 0 10px var(--gr-frontend-color-hover),
                        0 0 10px var(--gr-frontend-color-hover);
                }

                a:hover {
                    color: var(--gr-frontend-color-hover);
                }
            }

            &.backend {
                & > div:first-child {
                    background-color: var(--gr-backend-color-hover);
                    box-shadow: 0 0 10px var(--gr-backend-color-hover);
                }

                a:hover {
                    color: var(--gr-backend-color);
                }
            }
        }
    }
}
