.gr-search-menu {
    min-height: 110px;

    a {
        min-width: 170px;
        border-width: 2px;
        transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;

        small {
            text-wrap: avoid;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &:hover {
            opacity: 1 !important;
            border-color: var(--bs-blue-gray-500) !important;
            box-shadow: 0 0.5rem 1rem #000 !important;
        }
    }

    &:hover {
        a {
            opacity: 0.6;
        }
    }
}

.gr-search-result {
    max-width: 360px;
    width: 360px;
}

.gr-search-sidebar {
    flex: 1 1 300px;
    max-width: 300px;
    min-width: 300px;

    a {
        font-size: 90%;
    }
}
