{{#extend "default"}}
    {{#content "main"}}
        <div class="password-confirm">
            <div>
                <h1 class="text-center">Senha alterada com sucesso.</h1>
                <div class="d-flex align-items-center justify-content-center px-4 pt-4">
                    <p class="text-center">Você será redirecionado em x segundos, ou click no link abaixo para efetuar o login.</p>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center px-4 pt-5">
                <p>Voltar para o&nbsp; <a href="{{menu.login.url}}" class="text-decoration-none">login.</a></p>
            </div>
        </div>
    {{/content}}
{{/extend}}