{{#extend "default"}}
    {{#content "main"}}
        <div class="gr-study-plan gr-theme-backend">
            <section>
                <div class="gr-track-title-section bg-secondary">
                    <div class="container py-5">
                        <span class="d-block fs-5">
                            <span>Plano de estudos</span>
                            <span class="px-1">/</span>
                            <span>Frontend</span>
                        </span>
                        <h1 class="mb-3 fs-1">React Js</h1>

                        <p class="fs-5 m-0">Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley of type
                            and scrambled it to make a type specimen book. It has survived not only
                            five centuries, but also the leap into electronic typesetting, remaining
                            essentially unchanged.</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row py-4">
                        <div class="col">
                            <div class="bg-secondary text-center py-3 rounded-3">
                                <strong class="fs-1">40<span>%</span></strong>
                                <p class="text-center">Completo</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bg-secondary text-center py-3 rounded-3">
                                <strong class="fs-1">4</strong>
                                <p class="text-center">Projetos entregues</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="bg-secondary text-center py-3 rounded-3">
                                <strong class="fs-1">8<span>%</span></strong>
                                <p class="text-center">Horas de aprendizado</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5">
                <div class="container">
                    {{#each planoEstudo.items}}
                        {{#embed "study-plan-step/tpl" context=this}}{{/embed}}
                    {{/each}}
                </div>
            </section>
        </div>
    {{/content}}
{{/extend}}