{{#block "profile-saved/tpl"}}
    <div class="container py-5">
        {{#each notes}}
            <div class="d-flex py-3 w-75">
                <i class="bi bi-clipboard-minus text-muted fs-1 p-2 me-3"></i>
                <div class="d-flex flex-column">
                    <p class="mb-1 flex-fill">{{description}}</p>
                    <small class="text-muted">{{moment createdAt "dddd, MMMM Do YYYY, h:mm:ss a"}}</small>
                </div>
            </div>
        {{/each}}
    </div>
{{/block}}
