{{#block "profile-plans/ongoing"}}
    <div class="container gr-profile-container gr-plan">
        <div class="d-flex gr-plan-card">
            <div class="col-lg-7">
                <h4 class="gr-variable-title">Frontend com ReactJs</h4>
                <p class="lead-text">12 lições & 3 projetos restantes</p>
                <p class="text-muted">Aberto pela última vez há 2 dias</p>
            </div>
            <div class="d-flex align-items-center justify-content-center col-lg-2 percent">
                <h4>60%</h4>
            </div>
            <div class="d-flex align-items-center justify-content-center col-lg-3">
                <a class="btn">
                    Abrir plano de estudo
                </a>
            </div>
        </div>
    </div>
{{/block}}