@charset "UTF-8";
@-webkit-keyframes TextGradientAnimation {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
/* @-moz-keyframes TextGradientAnimation {
    0%{background-size: 100% 100%; background-position: 100% 0; }
    50%{background-size: 250% 250%; background-position: 250% 250%; }
    100%{background-size: 100% 100%; background-position: 100% 0; }
}
@-o-keyframes TextGradientAnimation {
    0%{background-size: 100% 100%; background-position: 100% 0; }
    50%{background-size: 250% 250%; background-position: 250% 250%;; }
    100%{background-size: 100% 100%; background-position: 100% 0; }
}
@keyframes TextGradientAnimation {
    0%{background-size: 100% 100%; background-position: 100% 0; }
    50%{background-size: 250% 250%; background-position: 250% 250%; }
    100%{background-size: 100% 100%; background-position: 100% 0; }
} */
@-webkit-keyframes GradientRadialAnimation {
    0% {
        background-size: 100% 100%;
        background-position: 100% 0;
        opacity: 0.3;
    }
    50% {
        background-size: 250% 250%;
        background-position: 250% 250%;
        opacity: 0.7;
    }
    100% {
        background-size: 100% 100%;
        background-position: 100% 0;
        opacity: 0.3;
    }
}
@-moz-keyframes GradientRadialAnimation {
    0% {
        background-size: 100% 100%;
        background-position: 100% 0;
        opacity: 0.3;
    }
    50% {
        background-size: 250% 250%;
        background-position: 250% 250%;
        opacity: 0.7;
    }
    100% {
        background-size: 100% 100%;
        background-position: 100% 0;
        opacity: 0.3;
    }
}
@-o-keyframes GradientRadialAnimation {
    0% {
        background-size: 100% 100%;
        background-position: 100% 0;
        opacity: 0.3;
    }
    50% {
        background-size: 250% 250%;
        background-position: 250% 250%;
        opacity: 0.7;
    }
    100% {
        background-size: 100% 100%;
        background-position: 100% 0;
        opacity: 0.3;
    }
}
@keyframes GradientRadialAnimation {
    0% {
        background-size: 100% 100%;
        background-position: 100% 0;
        opacity: 0.3;
    }
    50% {
        background-size: 250% 250%;
        background-position: 250% 250%;
        opacity: 0.7;
    }
    100% {
        background-size: 100% 100%;
        background-position: 100% 0;
        opacity: 0.3;
    }
}
@-webkit-keyframes GradientRadialAnimation2 {
    0% {
        background-size: 100% 100%;
        background-position: 0 0;
        opacity: 0.7;
    }
    50% {
        background-size: 200% 200%;
        background-position: 100% 100%;
        opacity: 0.3;
    }
    100% {
        background-size: 100% 100%;
        background-position: 0 0;
        opacity: 0.7;
    }
}
@-moz-keyframes GradientRadialAnimation2 {
    0% {
        background-size: 100% 100%;
        background-position: 0 0;
        opacity: 0.7;
    }
    50% {
        background-size: 200% 200%;
        background-position: 100% 100%;
        opacity: 0.3;
    }
    100% {
        background-size: 100% 100%;
        background-position: 0 0;
        opacity: 0.7;
    }
}
@-o-keyframes GradientRadialAnimation2 {
    0% {
        background-size: 100% 100%;
        background-position: 0 0;
        opacity: 0.7;
    }
    50% {
        background-size: 200% 200%;
        background-position: 100% 100%;
        opacity: 0.3;
    }
    100% {
        background-size: 100% 100%;
        background-position: 0 0;
        opacity: 0.7;
    }
}
@keyframes GradientRadialAnimation2 {
    0% {
        background-size: 100% 100%;
        background-position: 0 0;
        opacity: 0.7;
    }
    50% {
        background-size: 200% 200%;
        background-position: 100% 100%;
        opacity: 0.3;
    }
    100% {
        background-size: 100% 100%;
        background-position: 0 0;
        opacity: 0.7;
    }
}
:root {
    /********************************************************************
  * BOOTSTRAP OVERWRITES
  ********************************************************************/
    --bs-font-sans-serif: "Almarai", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-size: 0.95rem;
    --bs-primary: #38b9e1;
    --bs-primary-hover: #4cc0e4;
    --bs-secondary: #383838;
    --bs-secondary-hover: #424242;
    --bs-primary-rgb: 56, 185, 225;
    --bs-secondary-rgb: 56, 56, 56;
    --bs-link-color: var(--bs-primary);
    --bs-link-hover-color: var(--bs-primary-hover);
    --bs-border-color: #3d3d3d !important;
    --bs-border-light-color: #555555 !important;
    --gr-text-body: #bfbfbf;
    --gr-text-title: #f2f2f2;
    --gr-text-muted: rgba(255, 255, 255, 0.3);
    --gr-bg-light: #3d3d3d !important;
    --gr-bg-default: #292929 !important;
    --gr-bg-secondary: #1b1b1b;
    --gr-bg-darker: #1f1f1f;
    --gr-frontend-color: #ca3d89;
    --gr-frontend-color-hover: #ff5bb4;
    --gr-backend-color: #8542d8;
    --gr-backend-color-hover: #a257ff;
    --gr-box-primary-hover: #2ee6f3af;
}

.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}

/*****************************************************************************
* BACKGROUND
*****************************************************************************/
.bg-dark {
    background-color: var(--gr-bg-default) !important;
}

.bg-darker {
    background-color: var(--gr-bg-darker) !important;
}

/*****************************************************************************
* TEXT
*****************************************************************************/
.text-body {
    color: var(--gr-text-body) !important;
}

.text-body-link {
    color: var(--gr-text-body) !important;
}
.text-body-link:hover {
    color: var(--bs-primary-hover) !important;
}

.text-bold {
    font-weight: 700;
}

.text-bg-lighter {
    color: var(--gr-text-body) !important;
    background-color: var(--bs-secondary) !important;
}

.text-lead-lg {
    font-size: 20px !important;
}

.text-paragraph {
    color: rgba(255, 255, 255, 0.8) !important;
}

.text-lead {
    font-size: 24px !important;
}

.text-legend {
    font-size: 24px !important;
}

/*****************************************************************************
* BORDER
*****************************************************************************/
.border-dark {
    border-color: var(--gr-border-default) !important;
}

/*****************************************************************************
* NAVBAR
*****************************************************************************/
.navbar {
    --bs-navbar-nav-link-padding-x: 24px;
}

/*****************************************************************************
* BUTTONS
*****************************************************************************/
.btn {
    --bs-btn-padding-x: 24px;
    --bs-btn-padding-y: 0;
    --bs-btn-line-height: 42px;
    --bs-btn-border-width: 2px;
    --bs-btn-border-radius: 6px;
    --bs-btn-font-size: 0.95rem;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary-hover);
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--bs-primary);
}
.btn-outline-primary:hover {
    text-shadow: 0 0 21px var(--gr-primary-hover);
    box-shadow: inset 0px 0 10px var(--gr-box-primary-hover), 0px 0 10px var(--gr-box-primary-hover);
    transition: 0.3s;
}

.btn-outline-body {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-font-family: var(--gr-text-body);
    --bs-btn-font-size: 18px;
    --bs-btn-font-weight: 800;
}
.btn-outline-body:hover {
    text-shadow: 0 0 10px var(--gr-box-primary-hover);
    box-shadow: inset 0px 0 10px var(--gr-box-primary-hover), 0px 0 10px var(--gr-box-primary-hover);
    transition: 0.3s;
}

.btn-secondary {
    --bs-btn-color: #cccccc;
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary-hover);
    --bs-btn-hover-border-color: var(--bs-secondary-hover);
    --bs-btn-active-bg: var(--bs-secondary-hover);
    --bs-btn-active-border-color: var(--bs-secondary-hover);
}

.btn-outline-secondary {
    --bs-btn-color: #cccccc;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--bs-border-light-color);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--bs-secondary-hover);
}

.btn-gr-frontend {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--gr-frontend-color);
    --bs-btn-border-color: var(--gr-frontend-color);
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--gr-frontend-color-hover);
    --bs-btn-hover-border-color: var(--gr-frontend-color-hover);
    --bs-btn-focus-shadow-rgb: var(--gr-frontend-color);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--gr-frontend-color);
    --bs-btn-active-border-color: var(--gr-frontend-color);
}

.btn-gr-outline-frontend {
    --bs-btn-color: var(--gr-frontend-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--gr-frontend-color);
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-color: var(--gr-frontend-color-hover);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--gr-frontend-color-hover);
    --bs-btn-focus-shadow-rgb: var(--gr-frontend-color);
    --bs-btn-active-color: var(--gr-frontend-color);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--gr-frontend-color);
}
.btn-gr-outline-frontend:hover {
    text-shadow: 0 0 21px var(--gr-frontend-color-hover);
    box-shadow: inset 0px 0 10px var(--gr-frontend-color-hover),
        0px 0 10px var(--gr-frontend-color-hover);
}

.btn-gr-outline-backend {
    --bs-btn-color: var(--gr-backend-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--gr-backend-color);
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-color: var(--gr-backend-color-hover);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--gr-backend-color-hover);
    --bs-btn-focus-shadow-rgb: var(--gr-backend-color);
    --bs-btn-active-color: var(--gr-backend-color);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--gr-backend-color);
}
.btn-gr-outline-backend:hover {
    text-shadow: 0 0 21px var(--gr-backend-color-hover);
    box-shadow: inset 0px 0 10px var(--gr-backend-color-hover),
        0px 0 10px var(--gr-backend-color-hover);
}

.btn-nav-section {
    border: none;
    border-bottom: 2px;
    --bs-btn-color: red;
    --bs-btn-font-family: var(--gr-text-body);
    --bs-btn-active-color: yellow;
}
.btn-nav-section:active {
    border: none;
}
.btn-nav-section:hover {
    --bs-btn-color: green;
}

.gr-section-nav-button {
    transition: 300ms ease-in-out;
    font-size: 36px;
    opacity: 0.3;
}
.gr-section-nav-button:hover {
    transform: translate(0, -8px);
    text-shadow: 0 0 21px white;
    opacity: 0.6;
}
@media screen and (min-width: 768px) {
    .gr-section-nav-button {
        font-size: 60px;
    }
}

/*****************************************************************************
* FORMS
*****************************************************************************/
.form-control {
    padding: 0.6rem 0.75rem;
    color: var(--gr-text-body);
    background-color: var(--gr-bg-darker);
    border: 2px solid var(--bs-border-light-color);
    border-radius: 6px;
}
.form-control:focus {
    color: var(--gr-text-body);
    border-color: var(--bs-primary-hover);
    background-color: var(--gr-bg-darker);
    box-shadow: none;
}

.form-label {
    margin-bottom: 0.3rem;
    color: var(--gr-text-muted);
}

.gr-form-filter {
    height: 32px;
    color: var(--gr-text-body);
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #3d3d3d !important;
}
.gr-form-filter:focus {
    border: none;
    color: var(--gr-text-body);
    border-color: var(--bs-secondary-hover);
    box-shadow: none;
}

.gr-plan {
    border-bottom: 2px solid #3d3d3d;
}

.gr-plan-card {
    margin-top: 32px;
    margin-bottom: 32px;
}
.gr-plan-card h4 {
    font-size: 32px;
}
.gr-plan-card .percent {
    border-left: 2px solid #3d3d3d !important;
    border-right: 2px solid #3d3d3d !important;
}
.gr-plan-card .gr-variable-title {
    color: #ca3d89 !important;
}
.gr-plan-card .text-lead {
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 147.5% !important;
}
.gr-plan-card .text-legend {
    font-size: 20px !important;
    line-height: 130% !important;
    color: rgba(255, 255, 255, 0.3) !important;
}
.gr-plan-card .btn {
    --bs-btn-color: #cccccc;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--bs-border-light-color);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--bs-border-light-color);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--bs-secondary-hover);
    line-height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gr-video-list {
    flex-direction: column !important;
    gap: 32px !important;
}
.gr-video-list .text-paragraph {
    font-size: 18px !important;
    margin: 0px !important;
}
.gr-video-list .text-small {
    margin: 0px !important;
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.8) !important;
}

.gr-note-list p {
    font-size: 18px;
}

.gr-search {
    padding-top: 48px;
    padding-bottom: 22px;
}
.gr-search .dropdown-menu {
    --bs-dropdown-link-color: rgba(255, 255, 255, 0.3);
    --bs-dropdown-bg: var(--gr-bg-darker);
    --bs-dropdown-border-radius: 6px;
    --bs-dropdown-border-width: 2px;
    --bs-dropdown-border-color: rgba(255, 255, 255, 0.3);
    --bs-dropdown-padding-y: 0px;
    position: relative;
    transform: translateY(0px) !important;
    font-size: 18px;
    font-family: var(--gr-text-body);
    line-height: 24px;
}

/*****************************************************************************
* CARDS
*****************************************************************************/
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 2rem;
    --bs-card-border-width: 0px;
    --bs-card-border-radius: 6px;
    --bs-card-box-shadow: #000;
    --bs-card-bg: var(--gr-bg-light);
}
@media (min-width: 360px) {
    .card {
        --bs-card-spacer-y: 1.8rem;
        --bs-card-spacer-x: 1.6rem;
    }
}

/*****************************************************************************
* SPINNERS
*****************************************************************************/
.spinner-border {
    --bs-spinner-width: 4rem;
    --bs-spinner-height: 4rem;
    --bs-spinner-border-width: 0.65rem;
    --bs-spinner-animation-speed: 1.25s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--bs-spinner-border-width) dotted white;
}

/*****************************************************************************
/* IMAGE MASKS
/*****************************************************************************/
.mask-img {
    padding-left: 10px;
    border-radius: 50%;
}

/*****************************************************************************
* PROFILE CONTAINER
*****************************************************************************/
.gr-profile-header {
    top: 0px;
    background-color: var(--gr-bg-darker);
}

.gr-profile-container {
    max-width: 1192px;
}

.gr-menu {
    background-color: var(--gr-bg-light);
}

/*******************************************************
* TEXT
*******************************************************/
/*******************************************************
* BACKGROUNDS
*******************************************************/
.bg-secondary {
    background-color: var(--gr-bg-secondary);
}

.bg-darker {
    background-color: var(--gr-bg-darker);
}

/*******************************************************
* BORDERS
*******************************************************/
.border-dashed {
    border-style: dashed;
}

.border-lighter {
    border-color: var(--bs-border-light-color) !important;
}

/*******************************************************
* MAIN GRADIENT
*******************************************************/
.bg-gradient {
    background-image: linear-gradient(91deg, #ca3d89, #9824de, #1d69bc) !important;
}

.text-gradient {
    animation: TextGradientAnimation 15s ease infinite;
    background-image: -webkit-linear-gradient(
        0deg,
        #ff0089 10%,
        #9765d6 35%,
        #00efff 50%,
        #9765d6 75%,
        #ff0089 90%
    ) !important;
    background-size: 150% 150%;
    background-position: 0 0;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

/*******************************************************
* BUTTON
*******************************************************/
.btn-left-icon {
    position: relative;
}
.btn-left-icon .bi {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.password-confirm {
    width: 612px;
}
.password-confirm h1 {
    font-size: 54px;
    color: var(--bs-primary);
}
.password-confirm p {
    font-size: 24px;
}

.div-plan-content {
    max-width: 780px;
}
.div-plan-content span {
    color: var(--gr-frontend-color);
}
.div-plan-content .title-plan {
    font-size: 56px;
}
.div-plan-content .describe-plan {
    font-size: 36px;
}
.div-plan-content p {
    font-size: 24px;
    text-align: center;
}

/*****************************************************************************
* IMAGE MASKS
*****************************************************************************/
.mask-img {
    padding-left: 10px;
    border-radius: 50%;
}

html,
body {
    height: 100%;
    color: var(--gr-text-body);
    font-size: 16px;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-family: "Bakbak One", cursive;
    color: var(--gr-text-title);
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 26px;
}

h6 {
    font-size: 22px;
}

header {
    padding: 10px 32px 10px 12px;
}
header .navbar-brand h1 {
    font-size: 1.6rem !important;
}
@media (min-width: 1200px) {
    header .btn {
        --bs-btn-line-height: 36px;
    }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    header .bd-navbar-toggle {
        order: 5;
    }
}

footer {
    padding: 0 24px;
    height: 64px;
}

/*****************************************************************************
* MMBILE MENU
*****************************************************************************/
.gr-mobile-menu.show,
.gr-mobile-menu.showing {
    background-color: var(--gr-bg-darker);
}
@media (max-width: 1199.98px) {
    .gr-mobile-menu.show,
    .gr-mobile-menu.showing {
        font-size: 140% !important;
    }
}

/*******************************************************************************
* MAIN SEARCH
*******************************************************************************/
header:has(.gr-main-search.gr-opened) .navbar-brand,
header:has(.gr-main-search.gr-opened) .bd-navbar-toggle {
    display: none;
}

.gr-main-search {
    position: relative;
}
.gr-main-search > div {
    max-width: 580px;
}
.gr-main-search form:has(.form-control:focus) .btn {
    border-color: var(--bs-secondary-hover) !important;
    background-color: var(--bs-secondary-hover) !important;
    color: var(--bs-primary-hover);
}
.gr-main-search form .form-control {
    height: 40px;
    border-width: 0;
}
@media (max-width: 767.98px) {
    .gr-main-search form .btn {
        background-color: transparent !important;
        border: 0;
    }
}
.gr-main-search .btn {
    line-height: 40px;
    height: 40px;
    padding: 0 12px;
}
.gr-main-search > div > .btn,
.gr-main-search .dropdown,
.gr-main-search .form-control {
    display: none;
}
.gr-main-search.gr-opened {
    flex: 1;
}
.gr-main-search.gr-opened > div {
    max-width: 100%;
}
.gr-main-search.gr-opened > div > .btn,
.gr-main-search.gr-opened .dropdown,
.gr-main-search.gr-opened .form-control {
    display: block;
}
@media (min-width: 768px) {
    .gr-main-search {
        flex: 1;
    }
    .gr-main-search > div > .btn {
        display: none;
    }
    .gr-main-search .dropdown,
    .gr-main-search .form-control {
        display: block;
    }
}

/*******************************************************************************
* AUTHENTICATION BOXES (LOGIN, CADASTRO, RECUPERAÇÃO, etc...)
*******************************************************************************/
.auth-container {
    width: 375px;
    padding-top: 6rem;
    padding-bottom: 3.5rem;
    align-self: center;
}
@media (min-width: 768px) {
    .auth-container {
        width: 400px;
    }
}
@media (min-width: 1200px) {
    .auth-container {
        width: 420px;
    }
}

/*******************************************************************************
* HOME
*******************************************************************************/
.gr-home-page section {
    min-height: 100vh;
}
.gr-home-page .container {
    max-width: 1192px;
}
.gr-home-page h1 {
    font-size: 52px;
    line-height: 1;
}
.gr-home-page h2 {
    font-size: 42px;
}
.gr-home-page .text-lead-lg {
    font-size: 18px !important;
}
.gr-home-page img {
    max-width: 35% !important;
}
@media screen and (min-width: 576px) {
    .gr-home-page h1 {
        font-size: 54px;
    }
    .gr-home-page h2 {
        font-size: 48px;
    }
    .gr-home-page img {
        max-width: 30% !important;
    }
    .gr-home-page .text-lead-lg {
        font-size: 20px !important;
    }
}
@media screen and (min-width: 768px) {
    .gr-home-page h1 {
        font-size: 74px;
    }
    .gr-home-page h2 {
        font-size: 66px;
    }
    .gr-home-page img {
        max-width: 25% !important;
    }
    .gr-home-page .text-lead-lg {
        font-size: 24px !important;
    }
    .gr-home-page .gr-section-sing-up img {
        max-width: 290px !important;
    }
}
@media screen and (min-width: 992px) {
    .gr-home-page h1 {
        font-size: 96px;
    }
    .gr-home-page h2 {
        font-size: 84px;
    }
    .gr-home-page img {
        max-width: 100% !important;
    }
    .gr-home-page .text-lead-lg {
        font-size: 26px !important;
    }
    .gr-home-page .gr-section-sing-up img {
        max-width: 290px !important;
    }
}

.gr-section-how-it-works {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.gr-section-how-it-works .bg-gradient-liean,
.gr-section-how-it-works .bg-gradient-radial,
.gr-section-how-it-works .bg-gradient-radial-2 {
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gr-section-how-it-works .bg-gradient-radial {
    -webkit-animation: GradientRadialAnimation 30s ease infinite;
    -moz-animation: GradientRadialAnimation 30s ease infinite;
    -o-animation: GradientRadialAnimation 30s ease infinite;
    animation: GradientRadialAnimation 30s ease infinite;
    background-size: 100% 100%;
    background-position: 100% 0;
    background-image: radial-gradient(
        circle,
        rgb(0, 231, 255) 0%,
        rgb(183, 6, 255) 50%,
        rgb(255, 0, 207) 100%
    );
    opacity: 0.3;
}
.gr-section-how-it-works .bg-gradient-radial-2 {
    -webkit-animation: GradientRadialAnimation2 50s ease infinite;
    -moz-animation: GradientRadialAnimation2 50s ease infinite;
    -o-animation: GradientRadialAnimation2 50s ease infinite;
    animation: GradientRadialAnimation2 50s ease infinite;
    background-size: 100% 100%;
    background-position: 0 0;
    background-image: radial-gradient(
        circle,
        rgb(255, 0, 207) 0%,
        rgb(16, 133, 206) 54%,
        rgb(183, 6, 255) 100%
    );
    opacity: 0.7;
}

/*******************************************************************************
* CUSTOM SEARCH
*******************************************************************************/
.gr-custom-search {
    position: relative;
}
.gr-custom-search .form-control {
    padding-right: 55px;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 80%;
    border-color: #38b9e1;
    height: 60px;
}
.gr-custom-search .form-control::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}
.gr-custom-search .bi {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}

/*******************************************************************************
* ABOUT STYLES
*******************************************************************************/
.gr-about-how .text-legend {
    color: rgba(255, 255, 255, 0.3) !important;
}
.gr-about-how .text-lead-small {
    color: rgba(255, 255, 255, 0.8) !important;
}
.gr-about-how .container {
    padding-top: 110px;
    padding-bottom: 72px;
    max-width: 992px;
}
.gr-about-how h3 {
    font-size: 30px;
}
.gr-about-how h4 {
    font-size: 26px;
}
.gr-about-how .text-lead {
    font-size: 16px !important;
}
.gr-about-how .text-paragraph {
    font-size: 14px !important;
}
.gr-about-how img {
    max-width: 40% !important;
}
@media screen and (min-width: 576px) {
    .gr-about-how h3 {
        font-size: 40px;
    }
    .gr-about-how h4 {
        font-size: 36px;
    }
    .gr-about-how .text-lead {
        font-size: 22px !important;
    }
    .gr-about-how .text-paragraph {
        font-size: 16px !important;
        /*text-align: start !important;*/
    }
    .gr-about-how .text-legend {
        font-size: 20px !important;
    }
    .gr-about-how img {
        max-width: 40% !important;
    }
}
@media screen and (min-width: 768px) {
    .gr-about-how h3 {
        font-size: 48px;
    }
    .gr-about-how .text-lead {
        font-size: 24px !important;
    }
    .gr-about-how .text-paragraph {
        font-size: 18px !important;
    }
    .gr-about-how img {
        max-width: 50% !important;
    }
}
@media screen and (min-width: 992px) {
    .gr-about-how h3 {
        font-size: 64px;
    }
    .gr-about-how h4 {
        font-size: 54px;
    }
    .gr-about-how .text-lead {
        font-size: 30px !important;
    }
    .gr-about-how .text-paragraph {
        font-size: 24px !important;
    }
    .gr-about-how .text-legend {
        font-size: 24px !important;
    }
    .gr-about-how img {
        max-width: 100% !important;
    }
}

/*******************************************************************************
* PLANO DE ESTUDOS STYLES
*******************************************************************************/
.gr-track-title-section .btn {
    position: absolute;
    left: -100%;
}

.gr-study-plan .gr-plan-progress div:first-child {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 4px solid var(--bs-border-light-color);
    color: white;
    padding: 3px 0 0 1px;
}
.gr-study-plan .gr-plan-progress div:last-child {
    width: 4px;
    background: var(--bs-border-light-color);
}
.gr-study-plan .gr-theme-frontend h1 {
    color: var(--gr-frontend-color);
}
.gr-study-plan .gr-theme-frontend .gr-plan-progress.complete div:first-child {
    border-color: var(--gr-frontend-color);
}
.gr-study-plan .gr-theme-frontend .gr-plan-progress.complete div:last-child {
    background: var(--gr-frontend-color);
}
.gr-study-plan.gr-theme-backend h1 {
    color: var(--gr-backend-color);
}
.gr-study-plan.gr-theme-backend .gr-plan-progress.complete div:first-child {
    border-color: var(--gr-backend-color);
}
.gr-study-plan.gr-theme-backend .gr-plan-progress.complete div:last-child {
    background: var(--gr-backend-color);
}

/*# sourceMappingURL=style.css.map */
