{{#block "plan-nav-button/tpl"}}
    <div class="gr-section-nav-button text-center">
        <a href="/#">
            <i class="bi bi-chevron-double-down align-to-center text-white"></i>
        </a>
    </div>
{{/block}}