$colorNames: "primary", "secondary", "dark", "light", "frontend", "backend", "full-stack", "mobile", "version-control", "automation", "project-management", "testing";

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

@function btnTextColor($name) {
    @if $name == "dark" {
        @return "white"
    }
    @return $name;
}

@function prefix($name) {
    @if $name == "primary" or $name == "secondary" or $name == "dark" or $name == "light" {
        @return "bs"
    }
    @return "gr";
}

@mixin bg($prefix, $name) {
    .bg-#{$name} {
        background-color: var(--#{$prefix}-#{$name});
    }
}

@mixin button($prefix, $name) {
    .btn-#{$name} {
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--#{$prefix}-#{$name});
        --bs-btn-border-color: var(--#{$prefix}-#{$name});
        --bs-btn-border-radius: 6px;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: var(--#{$prefix}-#{$name}-hover);
        --bs-btn-hover-border-color: var(--#{$prefix}-#{$name}-hover);
        --bs-btn-focus-shadow-rgb: var(--#{$prefix}-#{$name});
        --bs-btn-active-color: var(--bs-btn-hover);
        --bs-btn-active-bg: var(--#{$prefix}-#{$name});
        --bs-btn-active-border-color: var(--#{$prefix}-#{$name});
    }
}

@mixin buttonOutline($prefix, $name) {
    .btn-outline-#{$name} {
        --bs-btn-color: var(--#{$prefix}-#{$name});
        --bs-btn-bg: transparent;
        --bs-btn-border-color: var(--#{$prefix}-#{$name});
        --bs-btn-border-radius: 6px;
        --bs-btn-hover-color: var(--#{$prefix}-#{$name}-hover);
        --bs-btn-hover-bg: transparent;
        --bs-btn-hover-border-color: var(--#{$prefix}-#{$name}-hover);
        --bs-btn-focus-shadow-rgb: var(--#{$prefix}-#{$name});
        --bs-btn-active-color: var(--#{$prefix}-#{$name});
        --bs-btn-active-bg: transparent;
        --bs-btn-active-border-color: var(--#{$prefix}-#{$name});

        &:hover {
            text-shadow: 0 0 10px var(--#{$prefix}-#{$name}-hover);
            box-shadow: inset 0 0 10px var(--#{$prefix}-#{$name}-hover),
            0 0 10px var(--gr-#{$name}-hover);
            transition: 0.15s;
        }
    }
}
