// Substituições e customizações das css variables do Bootstrap esse arquivo.

.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }
}

/*****************************************************************************
* BACKGROUND
*****************************************************************************/
.bg-dark {
    background-color: var(--gr-bg-default) !important;
}
.bg-darker{
    background-color: var(--gr-bg-darker) !important;
}

/*****************************************************************************
* TEXT
*****************************************************************************/
.text-body {
    color: var(--gr-text-body) !important;
}

.text-bold {
    font-weight: 700;
}

.text-bg-dark {
    color: var(--gr-text-body) !important;
    background-color: var(--gr-bg-default) !important;
}

.text-bg-darker {
    color: var(--gr-text-body) !important;
    background-color: var(--gr-bg-darker) !important;
}

.text-bg-lighter {
    color: var(--gr-text-body) !important;
    background-color: var(--bs-secondary) !important;
}

.text-lead{
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 30px !important;
    
}
.text-lead-small{
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 24px !important;

}

.text-legend{
    color: rgba(255, 255, 255, 0.3) !important;
    font-size: 24px !important;
}

.text-paragraph{
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 24px !important;
}

.text-title-home{
    
    max-width: 538px;
    width: auto;
}

.text-gradient {
    background: linear-gradient(104.19deg, #FF0089 6.17%, #9765D6 29.4%, #2F74DA 48.62%, #00EFFF 67.85%, #FFFFFF 83.07%) !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}


/*****************************************************************************
* BORDER
*****************************************************************************/
.border-dark {
    border-color: var(--gr-border-default) !important;
}

/*****************************************************************************
* NAVBAR
*****************************************************************************/
.navbar {
    --bs-navbar-nav-link-padding-x: 24px;
}

/*****************************************************************************
* BUTTONS
*****************************************************************************/
.btn {
    --bs-btn-padding-x: 24px;
    --bs-btn-padding-y: 0;
    --bs-btn-line-height: 48px;
    --bs-btn-border-width: 2px;
    --bs-btn-border-radius: 6px;
    --bs-btn-font-size: 0.95rem;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary-hover);
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--bs-primary);

    &:hover {
        text-shadow: 0 0 21px var(--gr-primary-hover);
        box-shadow: inset 0px 0 10px var(--gr-box-primary-hover),
            0px 0 10px var(--gr-box-primary-hover);
        transition: 0.3s;
    }
}

.btn-outline-body {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-font-family: var(--gr-text-body);
    --bs-btn-font-size: 18px;
    --bs-btn-font-weight: 800;

    &:hover {
        text-shadow: 0 0 10px var(--gr-box-primary-hover);
        box-shadow: inset 0px 0 10px var(--gr-box-primary-hover),
            0px 0 10px var(--gr-box-primary-hover);
        transition: 0.3s;
    }
}

.btn-secondary {
    --bs-btn-color: #{shade(#ffffff, 20%)};
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary-hover);
    --bs-btn-hover-border-color: var(--bs-secondary-hover);
    --bs-btn-active-bg: var(--bs-secondary-hover);
    --bs-btn-active-border-color: var(--bs-secondary-hover);
}

.btn-outline-secondary {
    --bs-btn-color: #{shade(#ffffff, 20%)};
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--bs-border-light-color);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--bs-secondary-hover);
}

.btn-gr-frontend {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--gr-frontend-color);
    --bs-btn-border-color: var(--gr-frontend-color);
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--gr-frontend-color-hover);
    --bs-btn-hover-border-color: var(--gr-frontend-color-hover);
    --bs-btn-focus-shadow-rgb: var(--gr-frontend-color);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--gr-frontend-color);
    --bs-btn-active-border-color: var(--gr-frontend-color);
}

.btn-gr-outline-frontend {
    --bs-btn-color: var(--gr-frontend-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--gr-frontend-color);
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-color: var(--gr-frontend-color-hover);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--gr-frontend-color-hover);
    --bs-btn-focus-shadow-rgb: var(--gr-frontend-color);
    --bs-btn-active-color: var(--gr-frontend-color);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--gr-frontend-color);

    &:hover {
        text-shadow: 0 0 21px var(--gr-frontend-color-hover);
        box-shadow: inset 0px 0 10px var(--gr-frontend-color-hover),
            0px 0 10px var(--gr-frontend-color-hover);
    }
}

.btn-gr-outline-backend {
    --bs-btn-color: var(--gr-backend-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--gr-backend-color);
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-color: var(--gr-backend-color-hover);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--gr-backend-color-hover);
    --bs-btn-focus-shadow-rgb: var(--gr-backend-color);
    --bs-btn-active-color: var(--gr-backend-color);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--gr-backend-color);

    &:hover {
        text-shadow: 0 0 21px var(--gr-backend-color-hover);
        box-shadow: inset 0px 0 10px var(--gr-backend-color-hover),
            0px 0 10px var(--gr-backend-color-hover);
    }
}

.btn-gr-down-chevron{
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    transition: 300ms;
    &:hover{
        margin-top: -5px;
        text-shadow: 0 0 21px white;
    }
}

/*****************************************************************************
* FORMS
*****************************************************************************/
.form-control {
    height: 52px;
    color: var(--gr-text-body);
    background-color: var(--gr-bg-darker);
    border: 2px solid var(--bs-border-light-color);
    border-radius: 6px;
    font-size: 0.95rem;

    &:focus {
        color: var(--gr-text-body);
        border-color: var(--bs-secondary-hover);
        background-color: var(--gr-bg-darker);
        box-shadow: none;
    }
}

.form-label {
    margin-bottom: 0.3rem;
    color: var(--gr-text-muted);
}

/*****************************************************************************
* CARDS
*****************************************************************************/
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 2rem;
    --bs-card-border-width: 0px;
    --bs-card-border-radius: 6px;
    --bs-card-box-shadow: ;

    @media (min-width: 360px) {
        --bs-card-spacer-y: 2.5rem;
        --bs-card-spacer-x: 2rem;
    }
}

/*****************************************************************************
* IMAGE MASKS
*****************************************************************************/
.mask-img{
    padding-left: 10px;
    border-radius: 50%;
    
}