// Substituições e customizações das css variables do Bootstrap esse arquivo.

.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }
}

/*****************************************************************************
* BACKGROUND
*****************************************************************************/
.bg-dark {
    background-color: var(--gr-bg-default) !important;
}
.bg-darker {
    background-color: var(--gr-bg-darker) !important;
}

/*****************************************************************************
* TEXT
*****************************************************************************/
.text-body {
    color: var(--gr-text-body) !important;
}

.text-body-link {
    color: var(--gr-text-body) !important;

    &:hover {
        color: var(--bs-primary-hover) !important;
    }
}

.text-bold {
    font-weight: 700;
}

.text-bg-lighter {
    color: var(--gr-text-body) !important;
    background-color: var(--bs-secondary) !important;
}

.text-lead-lg {
    font-size: 20px !important;
}

.text-paragraph {
    color: rgba(255, 255, 255, 0.8) !important;
}

.text-lead {
    font-size: 24px !important;
}

.text-legend {
    font-size: 24px !important;
}

/*****************************************************************************
* BORDER
*****************************************************************************/
.border-dark {
    border-color: var(--gr-border-default) !important;
}

/*****************************************************************************
* NAVBAR
*****************************************************************************/
.navbar {
    --bs-navbar-nav-link-padding-x: 24px;
}

/*****************************************************************************
* BUTTONS
*****************************************************************************/
.btn {
    --bs-btn-padding-x: 24px;
    --bs-btn-padding-y: 0;
    --bs-btn-line-height: 42px;
    --bs-btn-border-width: 2px;
    --bs-btn-border-radius: 6px;
    --bs-btn-font-size: 0.95rem;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary-hover);
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--bs-primary);

    &:hover {
        text-shadow: 0 0 21px var(--gr-primary-hover);
        box-shadow: inset 0px 0 10px var(--gr-box-primary-hover),
            0px 0 10px var(--gr-box-primary-hover);
        transition: 0.3s;
    }
}

.btn-outline-body {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-font-family: var(--gr-text-body);
    --bs-btn-font-size: 18px;
    --bs-btn-font-weight: 800;

    &:hover {
        text-shadow: 0 0 10px var(--gr-box-primary-hover);
        box-shadow: inset 0px 0 10px var(--gr-box-primary-hover),
            0px 0 10px var(--gr-box-primary-hover);
        transition: 0.3s;
    }
}

.btn-secondary {
    --bs-btn-color: #{shade(#ffffff, 20%)};
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary-hover);
    --bs-btn-hover-border-color: var(--bs-secondary-hover);
    --bs-btn-active-bg: var(--bs-secondary-hover);
    --bs-btn-active-border-color: var(--bs-secondary-hover);
}

.btn-outline-secondary {
    --bs-btn-color: #{shade(#ffffff, 20%)};
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--bs-border-light-color);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--bs-secondary-hover);
}

.btn-gr-frontend {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--gr-frontend-color);
    --bs-btn-border-color: var(--gr-frontend-color);
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--gr-frontend-color-hover);
    --bs-btn-hover-border-color: var(--gr-frontend-color-hover);
    --bs-btn-focus-shadow-rgb: var(--gr-frontend-color);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--gr-frontend-color);
    --bs-btn-active-border-color: var(--gr-frontend-color);
}

.btn-gr-outline-frontend {
    --bs-btn-color: var(--gr-frontend-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--gr-frontend-color);
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-color: var(--gr-frontend-color-hover);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--gr-frontend-color-hover);
    --bs-btn-focus-shadow-rgb: var(--gr-frontend-color);
    --bs-btn-active-color: var(--gr-frontend-color);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--gr-frontend-color);

    &:hover {
        text-shadow: 0 0 21px var(--gr-frontend-color-hover);
        box-shadow: inset 0px 0 10px var(--gr-frontend-color-hover),
            0px 0 10px var(--gr-frontend-color-hover);
    }
}

.btn-gr-outline-backend {
    --bs-btn-color: var(--gr-backend-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--gr-backend-color);
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-color: var(--gr-backend-color-hover);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--gr-backend-color-hover);
    --bs-btn-focus-shadow-rgb: var(--gr-backend-color);
    --bs-btn-active-color: var(--gr-backend-color);
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--gr-backend-color);

    &:hover {
        text-shadow: 0 0 21px var(--gr-backend-color-hover);
        box-shadow: inset 0px 0 10px var(--gr-backend-color-hover),
            0px 0 10px var(--gr-backend-color-hover);
    }
}
.btn-nav-section {
    border: none;
    border-bottom: 2px;
    --bs-btn-color: red;
    --bs-btn-font-family: var(--gr-text-body);
    --bs-btn-active-color: yellow;

    &:active {
        border: none;
    }
    &:hover {
        --bs-btn-color: green;
    }
}

.gr-section-nav-button {
    transition: 300ms ease-in-out;
    font-size: 36px;
    opacity: 0.3;

    &:hover {
        transform: translate(0, -8px);
        text-shadow: 0 0 21px white;
        opacity: 0.6;
    }

    @media screen and (min-width: 768px) {
        font-size: 60px;
    }
}

/*****************************************************************************
* FORMS
*****************************************************************************/
.form-control {
    padding: 0.6rem 0.75rem;
    color: var(--gr-text-body);
    background-color: var(--gr-bg-darker);
    border: 2px solid var(--bs-border-light-color);
    border-radius: 6px;

    &:focus {
        color: var(--gr-text-body);
        border-color: var(--bs-primary-hover);
        background-color: var(--gr-bg-darker);
        box-shadow: none;
    }
}

.form-label {
    margin-bottom: 0.3rem;
    color: var(--gr-text-muted);
}

.gr-form-filter {
    height: 32px;
    color: var(--gr-text-body);
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #3d3d3d !important;

    &:focus {
        border: none;
        color: var(--gr-text-body);
        border-color: var(--bs-secondary-hover);

        box-shadow: none;
    }
}
.gr-plan {
    border-bottom: 2px solid #3d3d3d;
}
.gr-plan-card {
    margin-top: 32px;
    margin-bottom: 32px;

    h4 {
        font-size: 32px;
    }
    .percent {
        border-left: 2px solid #3d3d3d !important;
        border-right: 2px solid #3d3d3d !important;
    }
    .gr-variable-title {
        color: #ca3d89 !important;
    }
    .text-lead {
        font-size: 24px !important;
        font-weight: 400 !important;
        line-height: 147.5% !important;
    }
    .text-legend {
        font-size: 20px !important;
        line-height: 130% !important;
        color: rgba(255, 255, 255, 0.3) !important;
    }
    .btn {
        --bs-btn-color: #{shade(#ffffff, 20%)};
        --bs-btn-bg: transparent;
        --bs-btn-border-color: var(--bs-border-light-color);
        --bs-btn-hover-bg: transparent;
        --bs-btn-hover-border-color: var(--bs-border-light-color);
        --bs-btn-active-bg: transparent;
        --bs-btn-active-border-color: var(--bs-secondary-hover);
        line-height: 24px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.gr-video-list {
    flex-direction: column !important;
    gap: 32px !important;
    .text-paragraph {
        font-size: 18px !important;
        margin: 0px !important;
    }
    .text-small {
        margin: 0px !important;
        font-size: 14px !important;
        color: rgba(255, 255, 255, 0.8) !important;
    }
}

.gr-note-list {
    p {
        font-size: 18px;
    }
}

.gr-search {
    padding-top: 48px;
    padding-bottom: 22px;
    .dropdown-menu {
        --bs-dropdown-link-color: rgba(255, 255, 255, 0.3);
        --bs-dropdown-bg: var(--gr-bg-darker);
        --bs-dropdown-border-radius: 6px;
        --bs-dropdown-border-width: 2px;
        --bs-dropdown-border-color: rgba(255, 255, 255, 0.3);
        --bs-dropdown-padding-y: 0px;
        position: relative;
        transform: translateY(0px) !important;
        font-size: 18px;
        font-family: var(--gr-text-body);
        line-height: 24px;
    }
}

/*****************************************************************************
* CARDS
*****************************************************************************/
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 2rem;
    --bs-card-border-width: 0px;
    --bs-card-border-radius: 6px;
    --bs-card-box-shadow: #000;
    --bs-card-bg: var(--gr-bg-light);

    @media (min-width: 360px) {
        --bs-card-spacer-y: 1.8rem;
        --bs-card-spacer-x: 1.6rem;
    }
}

/*****************************************************************************
* SPINNERS
*****************************************************************************/

.spinner-border {
    --bs-spinner-width: 4rem;
    --bs-spinner-height: 4rem;
    --bs-spinner-border-width: 0.65rem;
    --bs-spinner-animation-speed: 1.25s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--bs-spinner-border-width) dotted white;
}

/*****************************************************************************
/* IMAGE MASKS
/*****************************************************************************/
.mask-img {
    padding-left: 10px;
    border-radius: 50%;
}

/*****************************************************************************
* PROFILE CONTAINER
*****************************************************************************/

.gr-profile-header {
    top: 0px;
    background-color: var(--gr-bg-darker);
}

.gr-profile-container {
    max-width: 1192px;
}

.gr-menu {
    background-color: var(--gr-bg-light);
}
