// Classes de utilidades aqui

/*******************************************************
* BACKGROUNDS
*******************************************************/
.bg-darker {
    background-color: var(--gr-bg-darker);
}

/*******************************************************
* BORDERS
*******************************************************/
.border-dashed {
    border-style: dashed;
}

.border-lighter {
    border-color: var(--bs-border-light-color) !important;
}

/*******************************************************
* BUTTOM
*******************************************************/
.btn-left-icon{
    position: relative;

    .bi{
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.password-confirm{
    width: 612px;

    h1{
        font-size: 54px;
        color: var(--bs-primary);
    }
    
    p{
        font-size: 24px;
    }
}

.div-plan-content{
    max-width: 780px;
    
    span{
        color: var(--gr-frontend-color);

    }
    .title-plan{
        font-size: 56px;
    }
     
    .describe-plan{
        font-size: 36px;
    }

    p{
        font-size: 24px;
        text-align: center;
    }
}
