// Classes de utilidades aqui

/*******************************************************
* BACKGROUNDS
*******************************************************/
.bg-darker {
    background-color: var(--gr-bg-darker);
}

/*******************************************************
* BORDERS
*******************************************************/
.border-dashed {
    border-style: dashed;
}

.border-lighter {
    border-color: var(--bs-border-light-color) !important;
}

/*******************************************************
* BUTTOM
*******************************************************/
.btn-left-icon{
    position: relative;

    .bi{
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
    }
}