// CSS Variables do nosso projeto sempre com prefix gr (grimore)
@import "mixins";

:root {
    /********************************************************************
    * BOOTSTRAP OVERWRITES
    ********************************************************************/
    --bs-font-sans-serif: "Almarai", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-size: 0.95rem;
    --bs-primary: #38b9e1;
    --bs-primary-hover: #{tint(#38b9e1, 10%)};
    --bs-secondary: #383838;
    --bs-secondary-hover: #{tint(#383838, 5%)};
    --bs-primary-rgb: 56, 185, 225;
    --bs-secondary-rgb: 56, 56, 56;

    --bs-link-color: var(--bs-primary);
    
    --bs-border-color: #3d3d3d !important;
    --bs-border-light-color: #555555 !important;

    --gr-text-body: #{shade(#ffffff, 25%)};
    --gr-text-title: #{shade(#ffffff, 5%)};
    --gr-text-muted: rgba(255, 255, 255, 0.3);

    --gr-bg-light: #3D3D3D !important;
    --gr-bg-default: #292929 !important;
    --gr-bg-secondary: #1b1b1b;
    --gr-bg-darker: #1f1f1f;
    --gr-bg-light: #3D3D3D;

    --gr-frontend-color: #ca3d89;
    --gr-frontend-color-hover: #ff5bb4;

    --gr-backend-color: #8542d8;
    --gr-backend-color-hover: #a257ff;

    --gr-box-primary-hover: #2ee6f3af;
    
}
