// CSS Variables do nosso projeto sempre com prefix gr (grimore)
@import "mixins";

@font-face {
    font-family: gr-title-font;
    src: url("../static/fonts/BakbakOne-Regular.ttf");
}

@font-face {
    font-family: gr-body-font;
    src: url("../static/fonts/Almarai-Regular.ttf");
}

@font-face {
    font-family: gr-bold-font;
    src: url("../static/fonts/Almarai-Bold.ttf");
}

:root {
    /********************************************************************
    * BOOTSTRAP OVERWRITES
    ********************************************************************/
    --bs-font-sans-serif: gr-body-font, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --bs-primary: #38B9E1;
    --bs-primary-hover:  #{tint(#38B9E1, 10%)};
    --bs-secondary: #383838;
    --bs-secondary-hover: #{tint(#383838, 5%)};

    --bs-border-color: #3D3D3D !important;
    --bs-border-light-color: #555555 !important;
    

    --gr-text-body: #{shade(#ffffff, 25%)};
    --gr-text-title: #{shade(#ffffff, 5%)};
    --gr-text-muted: rgba(255,255,255,.3);

    --gr-bg-default: #292929 !important;
    --gr-bg-darker: #1f1f1f;

    --gr-frontend-color: #CA3D89;
    --gr-frontend-color-hover: #FF5BB4;

    --gr-backend-color: #8542D8;
    --gr-backend-color-hover: #A257FF;

    --gr-box-primary-hover: #2ee6f3af;
}

