@import "./breakpoints";
@import "./mixins";
@import "./variables";
@import "./overwrites";
@import "./utilities";

html,
body {
    height: 100%;
    color: var(--gr-text-body);
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-family: "Bakbak One", cursive;
    color: var(--gr-text-title);
    font-size: 96px;
}

h2{
    font-size: 84px;
}
h3{
    font-size: 64px;
}
h4{
    font-size: 54px;
}
h5{
    font-size: 36px;
}

header {
    padding: 10px 32px 10px 12px;

    .navbar-brand {
        h1 {
            font-size: 1.6rem !important;
        }
    }

    .btn {
        --bs-btn-line-height: 36px;
    }

    // Muda a posição do menu mobile para a direite em telas lg
    @include media-breakpoint-between(md, xl) {
        .bd-navbar-toggle {
            order: 5;
        }
    }
}

footer {
    padding: 0px 24px;
    height: 64px;
    top: 1016px;
}

/*******************************************************************************
* MAIN SEARCH
*******************************************************************************/
@import "./components/header-search";

/*******************************************************************************
* AUTHENTICATION BOXES (LOGIN, CADASTRO, RECUPERAÇÃO, etc...)
*******************************************************************************/
.auth-container {
    width: 420px;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}
/*******************************************************************************
* CUSTOM SEARCH
*******************************************************************************/

.gr-custom-search{
    
    margin-top: 78px;
    position: relative;
    .form-control{
        padding-right: 55px;
        background-color: rgba($color: #fff, $alpha: 0.1);
        opacity: 80%;
        border-color: #38B9E1;
        height: 60px;
    }
    .form-control::placeholder{
        color: rgba($color: #fff, $alpha: 0.8);
        font-size: 20px;
    }
    .bi{
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%)
    }
}

/*******************************************************************************
* HOME STYLES
*******************************************************************************/


.gr-home-hero{
    max-width: 1192px;
    padding-top: 158px;
    padding-bottom: 200px;
    padding-inline: 108px;

    text-align: center;
    
    
}

.gr-home-container{
    padding-top: 120px;
    padding-bottom: 253px;
    max-width: 1192px;
    
}

/*******************************************************************************
* ABOUT STYLES
*******************************************************************************/

.gr-content-container{
    padding-top: 110px;
    padding-bottom: 72px;
    max-width: 992px;
    
}
.gr-about-paragraph{
    padding-top: 72px;
    gap: 32px;  
}
.gr-about-card{
    padding-top: 72px;
    gap: 72px;
}

.gr-how-card{
    padding-top: 86px;
    padding-bottom: 102px;
    gap: 140px;
}

