{{#extend "default"}}
    {{#content "main"}}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pt-page">
                        <div class="div-plan-content">
                            <h1 class="text-center title-plan">Por favor,</h1>
                            
                            <h3 class="text-center describe-plan">Aguarde enquanto criamos seu plano de estudos
                                para desenvolvimento
                                {{#with (find categories.items "name" query.category)}}
                                    <span class="gr-{{../query.category}}-color">{{label}}</span>
                                {{/with}}
                                com
                                <span class="gr-{{query.category}}-color">ReactJs</span>.
                            </h3>
                            
                            <div class="d-flex justify-content-center align-items-center p-5">
                                <div class="spinner-border m-5" role="status">
                                </div>
                            </div>
                
                            <div>
                                <p class="lead-text">Seu plano de estudos ficará pronto em alguns segundos, tenho certeza que ira
                                    gostar!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}
