{{#extend "default"}}
    {{#content "main"}}
        <div class="d-block align-items-center div-plan-content">

            <div class="">
                <h1 class="text-center title-plan">Por favor,</h1>
                <h3 class="text-center describe-plan">Aguarde enquanto criamos seu plano de estudos
                    para desenvolvimento
                    <span>Frontend</span>
                    com
                    <span>ReactJs</span>.</h3>
            </div>
            <div class="d-flex justify-content-center align-items-center p-5">
                <div class="spinner-border m-5" role="status">
                </div>
            </div>

            <div>
                <img href="" />
            </div>

            <div>
                <p>Seu plano de estudos ficará pronto em alguns segundos, tenho certeza que ira
                    gostar!</p>
            </div>

        </div>
    {{/content}}
{{/extend}}