{{#extend "default"}}
    {{#content "main"}}
        <div class="gr-study-plan gr-theme-backend">
            {{> "plan-header/tpl"
                url=(append (append "/estudos/" params.planId) (append "/topic/" params.topicId))
                category="Frontend"
                title="HTML"
            }}
            <section class="py-5 px-3 px-sm-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi morbi tempus iaculis urna id volutpat lacus laoreet. Euismod elementum nisi quis eleifend.</p>
                            
                            <h2>Consectetur adipiscing elit</h2>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A pellentesque sit amet porttitor eget dolor. Justo nec ultrices dui sapien eget. Ut tristique et egestas quis ipsum suspendisse ultrices. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A pellentesque sit amet porttitor eget dolor. Justo nec ultrices dui sapien eget. Ut tristique et egestas quis ipsum suspendisse ultrices. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {{/content}}
{{/extend}}
