{{#block "github-sign-in/tpl"}}
    <form action="/auth/github" method="post">
        <button type="submit" class="btn btn-dark btn-left-icon w-100">
            <i class="bi bi-github"></i>
            {{i "main.github.label"}}
        </button>
    </form>
{{/block}}

