{{#extend "default" scroll="main"}}
    {{#content "main"}}
        <section class="pb-5">
            <div class="container">
                <div class="row">
                    <div
                        class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pt-page"
                    >
                        <a
                            href="/tracks/new"
                            class="d-flex text-decoration-none align-items-center mb-2 link-light"
                        >
                            <i class="bi bi-arrow-left me-2"></i>
                            Passo 1 de 4
                        </a>

                        <h1 class="text mb-4">Escolha uma área do seu interesse</h1>

                        <div class="mb-5">
                            <p>
                                Cada uma das categorias abaixo envolve uma gama de tecnologias em
                                que pode se especializar, escolha qual delas quer aprender:
                            </p>
                        </div>

                        <div class="text-start border-top">
                            {{#each areas}}
                                <a
                                    href="new/track/tech?area={{slug}}"
                                    class="btn btn-lg btn-outline-{{slug}} text-start d-block mb-2"
                                >
                                    {{title}}
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}