{{#extend "default" scroll="main"}}
    {{#content "main"}}
        <section
            data-user-track-id="{{userTrack.id}}"
            class="flex-fill d-flex flex-column align-items-center justify-content-center"
        >
            <div class="div-plan-content">
                <h3 class="text-center describe-plan">
                    Criando plano de estudos
                </h3>

                <div class="d-flex justify-content-center align-items-center p-2">
                    <div class="spinner-border m-5 border-{{area.slug}}" role="status">
                    </div>
                </div>

                <p class="lead-text text-center mb-5">
                    Seu plano de estudos ficará pronto em alguns segundos.
                </p>
            </div>
        </section>
    {{/content}}
    {{#content "scripts" mode="append"}}
        <script src="/public/scripts/pages/new/track/confirm.js"></script>
    {{/content}}
{{/extend}}