{{#extend "default"}}
    {{#content "main"}}
        <section>
            <div class="container">
                <div class="row">
                    <div
                        class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pt-page"
                    >
                        <h2 class="text mb-4">{{i "newPlan.start.title"}}</h2>
                        <div class="mb-5">
                            {{#each (i "newPlan.start.content")}}
                                <p>{{this}}</p>
                            {{/each}}
                        </div>
                        {{#embed
                            "button/tpl"
                            style="outline-primary"
                            label=(i "newPlan.start.button.label")
                            size="lg"
                            icon="plus"
                            width="100"
                            href="/new/track/area"
                        }}{{/embed}}
                    </div>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}
