{{#block "profile-saved/tpl"}}
    <div class="d-flex container gr-profile-container gr-video-list">
        <div class="d-flex">
            <div class="col-lg-2 align-items-center">
                <img
                    src="../public/images/video1.png"
                    style="object-fit: contain; width:100%; padding-right:12px"
                />
            </div>
            <div class="col-lg-10">
                <p class="text-paragraph">Tutorial - Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.</p>
                <p>By JeffScript</p>
            </div>
        </div>
    </div>
{{/block}}