{{#extend "default"}}
    {{#content "main"}}
        <section>
            <div class="gr-content-container">
                <h3>Como funciona</h3>
                <p class="text-lead-lg">
                    Aprender sobre TI não deve ser complicado, o nosso objetivo é facilitar o
                    aprendizado de iniciantes através de conteúdo já disponível na web de uma
                    maneira organizada e estruturada afim de lhe trazer resultados em um curto espaço
                    de tempo.

                </p>
                <p class="text-lead-lg">
                    Começar na nossa plataforma é simples, e pode ser feito em apenas 3 passos!
                </p>
                <div class="d-flex flex-column gr-how-card">
                    <div class="row">
                        <div class="col-lg-3 order-0 order-lg-0">
                            <img src="/images/user-add.svg" />
                        </div>
                        <div class="col-lg-9 order-1 order-lg-1 align-self-center">
                            <h4 style="font-size: 42px">Crie sua conta gratuita</h4>
                            <p class="text-lead-lg-small">
                                Criar sua conta leva apenas alguns minutos, com ela pode
                                acompanhar o seu andamento e salvar conteúdo do seu interesse para ler
                                ou assistir posteriormente, tudo acessível do seu dashboard.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 order-1 order-lg-0 text-end align-self-center">
                            <h4 style="font-size: 42px">Crie planos de aprendizado</h4>
                            <p class="text-lead-lg-small">
                                Escolha em qual área você deseja se aprofundar e em que technologia
                                você tem mais interesse, nosso sistema irá gerar uma trilha de
                                aprendizado com artigos, vídeos, desafios e projetos interativos
                                organizado por etapas que você deverá seguir, guiando você de uma
                                maneira progressiva de conteúdos fáceis até os mais avançados.
                            </p>
                        </div>
                        <div class="col-lg-3 order-0 order-lg-1 text-end">
                            <img src="/images/share.svg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 order-0 order-lg-0">
                            <img src="/images/medal.svg" />
                        </div>
                        <div class="col-lg-9 order-1 order-lg-1 align-self-center">
                            <h4 style="font-size: 42px">Divulgue seu perfil</h4>
                            <p class="text-lead-lg-small">
                                Complete quantas trilhas quiser, acompanhe suas conquistas e não
                                deixe de divulgar seu perfil público no LinkedIn e em suas redes
                                socias para almentar a visibilidade de suas novas habilidades
                                adquiridas e lhe ajudar a ajudar seu emprego dos sonhos o quanto
                                antes.
                            </p>
                        </div>
                    </div>
                </div>

                <p class="text-lead-lg">
                    Simples, não é? Então não perca mais tempo, corre lá, crie sua conta e de seus
                    primeiros passos hoje mesmo, nossa plataforma é completamente gratuita!
                </p>
                <div class="text-center align-center">
                    <a class="btn btn-outline-body">
                        Quero criar minha conta
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}
