{{#extend "default" scroll="main"}}
    {{#content "main"}}
        <section class="pt-page">
            <div class="container">
                <div class="row">
                    <div
                        class="col-md-10 offset-md-1 col-xl-8 offset-xl-2 px-5 px-sm-0 text-justify"
                    >
                        <h1 class="text-gradient mb-5">Como funciona</h1>

                        <p class="lead-text mb-4">
                            Aprender sobre TI não deve ser complicado, o nosso objetivo é facilitar
                            o aprendizado de iniciantes através de conteúdo já disponível na web de
                            uma maneira organizada e estruturada afim de lhe trazer resultados em um
                            curto espaço de tempo.

                        </p>

                        <p class="lead-text mb-5">
                            Começar na nossa plataforma é simples, e pode ser feito em apenas 3
                            passos!
                        </p>

                        <div class="row py-5 mb-5">
                            <div class="col-md-4 order-0 order-md-0 mb-4 mb-md-0 text-center">
                                <img
                                    alt="Crie sua conta gratuita"
                                    src="/public/images/user-add.svg"
                                    class="img-fluid"
                                />
                            </div>
                            <div class="col-md-8 order-1 order-md-1 align-self-center">
                                <h2 class="text-center text-md-start mb-4">Crie sua conta gratuita</h2>
                                <p class="lead-text">
                                    Criar sua conta leva apenas alguns minutos, com ela pode
                                    acompanhar o seu andamento e salvar conteúdo do seu interesse
                                    para ler ou assistir posteriormente, tudo acessível do seu
                                    dashboard.
                                </p>
                            </div>
                        </div>

                        <div class="row mb-5 pb-5">
                            <div class="col-md-8 order-1 order-md-0 text-md-end align-self-center">
                                <h2 class="text-center text-md-end mb-4">Crie planos de aprendizado</h2>
                                <p class="lead-text">
                                    Escolha em qual área você deseja se aprofundar e em que
                                    technologia você tem mais interesse, nosso sistema irá gerar uma
                                    trilha de aprendizado com artigos, vídeos, desafios e projetos
                                    interativos organizado por etapas que você deverá seguir,
                                    guiando você de uma maneira progressiva de conteúdos fáceis até
                                    os mais avançados.
                                </p>
                            </div>
                            <div class="col-md-4 order-0 order-md-1 mb-4 mb-md-0 text-center">
                                <img
                                    alt="Crie planos de aprendizado"
                                    src="/public/images/share.svg"
                                    class="img-fluid"
                                />
                            </div>
                        </div>

                        <div class="row mb-5 pb-5">
                            <div class="col-md-4 order-0 order-md-0 mb-4 mb-md-0 text-center">
                                <img
                                    alt="Divulgue seu perfil"
                                    src="/public/images/medal.svg"
                                    class="img-fluid"
                                />
                            </div>
                            <div class="col-md-8 order-1 order-md-1 align-self-center">
                                <h2 class="text-center text-md-start mb-4">Divulgue seu perfil</h2>
                                <p class="lead-text">
                                    Complete quantas trilhas quiser, acompanhe suas conquistas e não
                                    deixe de divulgar seu perfil público no LinkedIn e em suas redes
                                    socias para almentar a visibilidade de suas novas habilidades
                                    adquiridas e lhe ajudar a ajudar seu emprego dos sonhos o quanto
                                    antes.
                                </p>
                            </div>
                        </div>

                        <p class="lead-text mb-5">
                            Simples, não é? Então não perca mais tempo, corre lá, crie sua conta e
                            de seus primeiros passos hoje mesmo, nossa plataforma é completamente
                            gratuita!
                        </p>

                        <div class="text-center align-center mb-5 pb-5">
                            <a class="btn btn-outline-body">
                                Quero criar minha conta
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{/content}}
{{/extend}}
