{{#extend "default" scroll="main"}}
    {{#content "main"}}
        <div class="gr-home-page w-100">
            <section class="d-flex align-items-center justify-content-center gr-home-hero">
                <div class="container text-center">
                    <div>
                        <div class="text-gradient mb-3">
                            <h1>Aprender TI nunca foi tão fácil!</h1>
                        </div>

                        <p class="lead-text">O Grimore foi criado para auxiliar iniciantes em TI,
                            provendo conteúdo curado sobre diversos tópicos do setor e ferramentas
                            que permitem a criação de planos de estudo para impulsionar o
                            aprendizado.</p>
                    </div>
                    {{#embed "section-nav-button/tpl"}}{{/embed}}
                </div>
            </section>

            <section
                class="gr-section-how-it-works d-flex align-items-center justify-content-center"
            >
                <!--<div class="bg-gradient-linear"></div>-->
                <div class="bg-gradient-radial"></div>
                <div class="bg-gradient-radial-2"></div>
                <div class="container text-center text-lg-start">
                    <div class="row mb-1 mb-lg-5">
                        <div class="col-lg-7 order-1 order-lg-0">
                            <h2 class="text-title-home mb-3">Como funciona?</h2>
                            <div class="mb-3 mb-md-5">
                                <p class="lead-text text-white m-0">O Grimore utiliza conteúdo
                                    gratuíto, já disponível na web para ajudar iniciantes no setor a
                                    aprender sobre diversos tópicos e tecnologias. Nossa equipe
                                    utiliza algoritmos especiais e um processo de curagem manual
                                    para filtrar esse conteúdo e disponibilizar para você apenas o
                                    que há de melhor e confiável.</p>
                            </div>
                            <form>
                                <div class="gr-custom-search">
                                    <input
                                        type="text"
                                        class="form-control input"
                                        placeholder="Digite um tópico ou tecnologia"
                                    />
                                    <i class="bi bi-search lead-text"></i>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-5 text-center order-0 order-lg-1">
                            <img src="/public/images/funil.svg" class="img-fluid" />
                        </div>
                    </div>
                    {{#embed "section-nav-button/tpl"}}{{/embed}}
                </div>
            </section>

            <section
                class="gr-section-courses bg-darker d-flex align-items-center justify-content-center"
            >
                <div class="container text-center text-lg-start">
                    <div class="row mb-1 mb-lg-5">
                        <div class="col-12 col-lg-5 order-0 order-lg-0">
                            <img src="/public/images/baker-icon.svg" class="img-fluid" />
                        </div>
                        <div class="col-12 col-lg-7 order-1 order-lg-1">
                            <h2 class="text-title-home text-gradient mb-3">Planos de aprendizado</h2>
                            <div class="lead-text mb-5">
                                <p>Fazendo uso de conteúdo de qualidade, nosso sistema monta planos
                                    detalhados de aprendizado com artigos, vídeos e projetos
                                    interativos, que é capaz de tornar qualquer iniciante em um
                                    profissional em apenas alguns meses.</p>
                            </div>
                            <div class="d-grid">
                                <a href="/tracks/new" class="btn btn-outline-body">
                                    Criar plano de estudos
                                    <i class="bi bi-plus-lg"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                    {{#embed "section-nav-button/tpl"}}{{/embed}}
                </div>
            </section>
            <section class="gr-section-sing-up d-flex align-items-center justify-content-center">
                <div class="container text-center">
                    <div>
                        <img src="/public/images/academic-cap.svg" class="img-fluid" />
                    </div>
                    <h2 class="mb-3">Comece hoje mesmo!</h2>
                    <p class="lead-text mb-5">
                        Deixa de enrolar e comece aprender sobre seu tópico preferido em TI hoje
                        mesmo, nosso serviço é totalmente gratuito!
                    </p>
                    <div>
                        <a href="/sign-up" class="btn btn-outline-body">
                            <i
                                class="bi bi-person-plus justify-content-center"
                                style="float: left; padding-top: 7px; font-size: 30px"
                            ></i>
                            Criar uma conta gratuita
                        </a>
                    </div>
                </div>
            </section>
        </div>
    {{/content}}
{{/extend}}
