{{#block "form-box/tpl"}}
    <div class="card auth-card shadow">
        <div class="card-body">
            <h5 class="card-title text-center">
                {{#block "cardTitle"}}
                    Default title
                {{/block}}
            </h5>
            <form>
                {{#block "cardContent"}}
                    Card content
                {{/block}}

                <div class="d-grid gap-1 pt-3">
                    
                        <button type="submit" class="btn btn-primary">
                            {{#block "cardButton"}}
                            {{/block}}
                        </button>
                    

                    {{#block "cardExtra"}}{{/block}}
                </div>

            </form>
        </div>
    </div>
{{/block}}