{{#extend "default" scroll="main"}}
    {{#content "main"}}
        
        <div class="gr-study-plan gr-theme-backend">
            {{> "plan-header/tpl"
                url="/profile"
                category=area.title
                title=tech.title
                description=tech.description
            }}
            {{log tech}}
            <section class="px-3 px-sm-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-10 offset-lg-1">
                            <div class="row py-4">
                                <div class="col mb-4 mb-md-0">
                                    <div
                                        class="bg-{{area.slug}} text-center py-3 py-md-4 rounded-3 shadow"
                                    >
                                        <h2>40<span>%</span></h2>
                                        <p class="text-center mb-0">Completo</p>
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div
                                        class=" bg-{{area.slug}} text-center py-3 py-md-4 rounded-3 shadow"
                                    >
                                        <h2>4</h2>
                                        <p class="text-center mb-0">Projetos entregues</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <div
                                        class=" bg-{{area.slug}} text-center py-3 py-md-4 rounded-3 shadow"
                                    >
                                        <h2>8<span>%</span></h2>
                                        <p class="text-center mb-0">Horas de aprendizado</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 px-3 px-sm-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-10 offset-lg-1">
                            <h3 class="mb-5">Continue seu aprendizado</h3>
                            {{#each topics}}
                                {{#embed "study-plan-step/tpl"
                                         context=this
                                         area=(data "area")
                                         track=(data "track")
                                         mode="full"
                                         trackId=(data "userTrack.id")}}
                                {{/embed}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {{/content}}
{{/extend}}
