{{#block "card"}}
    <div class="card w-25">
        <div class="card-body">
            <h2 class="card-title">
                {{#block "cardTitle"}}
                    Default title
                {{/block}}
            </h2>
            <form>
                {{#block "cardContent"}}
                    Card content
                {{/block}}

                <button type="submit" class="btn btn-danger">
                    {{#block "cardButton"}}
                        Button text
                    {{/block}}
                </button>
            </form>
        </div>
    </div>
{{/block}}
