<div class="d-flex gr-plan-progress {{ternary this.complete 'complete' ''}}">
    <div class="d-flex flex-column align-items-center">
        <div>
            <i class="bi bi-check-lg"></i>
        </div>
        <div class="flex-fill"></div>
    </div>

    <div class="ps-3 pt-2 pb-4 flex-fill">
        <h6>{{this.title}}</h6>
        {{#if (isMatch (get "path" (urlParse (data "url"))) "**/plano")}}
            <p class="text-muted">{{this.description}}</p>
        {{/if}}
    </div>

    {{#if (isMatch (get "path" (urlParse (data "url"))) "**/plano")}}
        <div class="d-flex align-items-center ps-3">
            <a href="/estudos/plano/topic?id={{@index}}" class="text-muted">
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    {{/if}}
</div>