{{#block "profile-saved/tpl"}}
    <div class="d-flex container gr-profile-container gr-note-list">
        <i class="bi bi-clipboard-minus p-1"></i>
        <p>Vídeo de otimização interenssante com ótimas dicas de performance, quero voltar e rever
            entender melhor...</p>
    </div>
{{/block}}