<div class="d-flex container gr-profile-container gr-video-list py-2">
    <div class="d-flex">
        <div class="col-2 align-items-center">
            <img src="../public/images/video1.png" style="object-fit: contain; width:100%; padding-right:12px" />
        </div>
        <div class="col-10">
            <p class="text-paragraph">{{title}}</p>
            <p>{{creator}}</p>
        </div>
    </div>
</div>
