@font-face {
    font-family: gr-title-font;
    src:url("./fonts/BakbakOne-Regular.ttf");
}

html, body {
    height: 100%;
   }

h6, h5, h4, h3, h2, h1{
    font-family: gr-title-font;
}

header{
    padding: 10px 32px 10px 12px;
    height: 62px;
}

ul{
    padding: 0;
    margin: 0;
}

ul li {
    margin-right: 10px;
    padding: 0 24px;
}

ul a{
   text-decoration: none;
}

main{
    padding: 0px;
    height: 600px;
}

footer {
    background-color: #292929;
    padding: 0px 24px;
    height: 64px;
    top: 1016px;
}