:root {
    --bs-primary: #38B9E1;
    --bs-btn-border-color: var(--bs-primary);
    --gr-text-muted: rgba(255,255,255,.3);
    --gr-primary-hover: #2EE7F3;
    --gr-box-primary-hover: #2ee6f3af;
    --gr-bg-darker: #1B1B1B;
    --gr-bg-default: #292929  !important;
    --gr-border-default: #353535 ;
    --gr-bg-gray: #4F4F4F;
}

/* Background */

.bg-default {
    background-color: var(--gr-bg-default);
}

.bg-darker {
    background-color: var(--gr-bg-darker);
}

/* Border */

.button{
    border-radius: 0 4px 4px 0;
    height: 46px;
    width: 62px;
    background-color:var(--gr-bg-gray) ;
    border: none;
}

.button:hover{
    background-color: var(--bs-primary) !important;
}


.input{
    border-radius: 4px 0 0 4px;
    height: 46px;
    width: 524px;
    background-color:var(--gr-bg-darker);
    border: none;
}

.dropdown-button{
    height: 46px;
    width: 202px;
}

.border-default {
    border-color: var(--gr-border-default) !important;
}

/* Botões */

.btn {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.btn-outline-dashed {
    border-style: dashed;
}

.btn-border-muted {
    border-color: var(--gr-text-muted);
}

.btn-border-muted:hover{
    border-color: var(--gr-primary-hover) !important;
    background: transparent !important;
}

.btn-outline-gr-primary {
    border-color: var(--bs-primary);
    color: var(--bs-primary);
}

.btn-outline-gr-primary:hover{
    border-color: var(--gr-primary-hover) !important;
    color: var(--gr-primary-hover) !important;
    text-shadow: 0 0 21px var(--gr-primary-hover);
    box-shadow: inset 0px 0 10px var(--gr-box-primary-hover), 0px 0 10px var(--gr-box-primary-hover);
    transition: 0.3s;
}

/* color hover */




/* text */

.text-gr-primary{
    color: var(--bs-primary)
}

/* buttons styles */

#FrontendHeader{
    font-family: gr-main-font;
    font-size: 18px;

    background-color: #CA3D89;
    
    border-color: #CA3D89;
    border-radius: 6px;
    
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 202px;
}

#FrontendHeader span{
    color: #FFFFFF;
}
#FrontendHeader i{
    color: #FFFFFF;
    padding-left: 70px;
}

#FrontendMenu{
    font-family: gr-title-font;
    font-size: 18px;
    
    background-color: #292929;
    border-width: 2px;
    border-radius: 6px;
    border-color: #CA3D89;
    
    text-align: left;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 381px;
}

#FrontendMenu span{
    color: #CA3D89;
}

#FrontendMenu i{
    color: #CA3D89;
    padding-left: 228px;
}

#FrontendMenu:hover{
    box-shadow: inset 0 0 10px #CA3D89, 0 0 10px #CA3D89;
    text-shadow: 0 0 10px #CA3D89;

    transition: 0.35s;
}

