{{#block "button/tpl"}}
    <a href="{{this.url}}" class="btn btn-outline-{{default type "primary"}} {{#eq size "lg"}}btn-lg{{/eq}} d-block my-5">
        {{this.label}}
        <i class="bi bi-{{this.icon}}"></i>
    </a>
{{/block}}
